<%= form_with(model: question, local: true, id:"qs") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Question %>
    <%= form.text_field :text, id: :q%>
  </div>
  <div class="tempfield">
    <%= form.label :poll_id_temp %>
    <%= form.text_field :poll_id, id: :p%>
  </div>
  <div id="cs">
    <div id="choice0" class="field">
      <%= form.label "Answer Choice" %>
      <%= text_field_tag 'ans[]' %>
    </div>
  </div>
  <div>
    <button id="newbut" type="button" value="Add" onClick:"javascript:add();">add another choice</button>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
