<style>
  H2 {
    font-weight: bold;
    color: #d9d9d9;
    font-size: 32px;
  }
  tr:nth-child(even) {
    background-color: #d9d9d9;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="banner" style="padding:15px; text-align:center;">
<div class="banner-content">
  <h2>Hello!</h2>
    <p>Click the button below to create a new question!</p>
<%= link_to 'NEW', new_question_path, class: "btn btn-success"%>
</div>
</div>

<h1>Questions</h1>

<br>
<br>



<table>
  <thead>
    <tr>
      <th>Question Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.text, question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
