<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Answera:</strong>
  <%= @question.answerA %>
</p>

<p>
  <strong>Answerb:</strong>
  <%= @question.answerB %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
