<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <% if @question.answerchoices.any? %>
  <h3><%= @question.text %> (<%= @question.answerchoices.count %> choices)</h3>
    <ul class="answerchoices">
      <% @question.answerchoices.each do |answerchoice| %>
      
      <li>
        <span class="content"><%= answerchoice.content %>
          <%= form_for(answerchoice, url: {action: "vote", controller: "answerchoices"}) do |f| %> 
          <%= f.submit "Vote", class: "btn btn-primary" %>
        <% end %>
        </span>
      </li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'Edit Question text', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
