<p id="notice"><%= notice %></p>

<p>
  <strong>You selected:</strong>
  <%= @answerchoice.content %>
</p>

<p>
  So far, this choice has received <%= @answerchoice.tally %> votes.
</p>
<p>
  Thank you for voting!
</p>
<%= link_to 'Edit', edit_answerchoice_path(@answerchoice) %> |
<%= link_to 'Back to Polls', polls_path %>
