<p id="notice"><%= notice %></p>
<%= puts @user.id %>
<%= puts (current_user.id == @user.id) %>

<h1><%= @user.name %>'s Polls</h1>
<%if @user.id == current_user.id%>
    <%= render partial: "my_polls", object: @user %>
<%else%>
    <%= render partial: "other_polls", object: @user %>
<%end%>

<%= link_to '<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-triangle-left"></span>Back</button>'.html_safe, url_for(:back) %>

