<p id="notice"><%= notice %></p>
<%= puts @user.id %>
<%= puts (current_user.id == @user.id) %>

<!--
<%= render partial: "my_polls", object: @user %>
-->
<%= render partial: "other_polls", object: @user %>

<%= link_to '<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-triangle-left"></span>Back</button>'.html_safe, url_for(:back) %>

