<%= form_with(model: poll, local: true) do |form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
        <% poll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Poll_Title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
  <div id="questions">
    <div class="q" id="q0">
      <%= form.fields_for :questions do |questions_form| %>
        <%= questions_form.label :Question %>
        <%= questions_form.text_field :text %>
        <div class="a" id="q0a0">
          <%= questions_form.fields_for :answerchoices do |answerchoices_form| %>
            <%= answerchoices_form.label :Answer_Choice %>
            <%= answerchoices_form.text_field :content %>
          <% end %>
        </div>
        <button class="add_choice" type="button">Add New Choice</button>
      <% end %>
    </div>
    <button class="add_question" type="button">Add New Question</button>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    hide = $(".q").clone()
    hide[0].setAttribute("hidden", "");
    $(document.body).prepend(hide);
  });
  
  function fixatts(elem, cntr) {
    let regexp = /([0-9](?=_content|]\[c))|([0-9]$)/g;
    $(elem).find("[id]").add(elem).each(function() {
        //console.log(this.id);
        this.id = this.id.replace(regexp, cntr);
        //console.log(this.id);
    })
    $(elem).find("[name]").add(elem).each(function() {
      if ($(this)[0].hasAttribute("name")) {
        $(this).attr("name");
        var name = $(this).attr("name");
        name = name.replace(regexp, cntr);
        $(this).attr("name", name);
      }
    })
    $(elem).find("[for]").add(elem).each(function() {
      var attr = "for"
      if ($(this)[0].hasAttribute(attr)) {
        $(this).attr(attr);
        var name = $(this).attr(attr);
        name = name.replace(regexp, cntr);
        $(this).attr(attr, name);
      }
    })
  }
  
  function qfixatts(elem, cntr) {
    let regexp = /[0-9]/;
    $(elem).find("[id]").add(elem).each(function() {
        //console.log(this.id);
        this.id = this.id.replace(regexp, cntr);
        //console.log(this.id);
    })
    $(elem).find("[name]").add(elem).each(function() {
      if ($(this)[0].hasAttribute("name")) {
        $(this).attr("name");
        var name = $(this).attr("name");
        name = name.replace(regexp, cntr);
        $(this).attr("name", name);
      }
    })
    $(elem).find("[for]").add(elem).each(function() {
      var attr = "for"
      if ($(this)[0].hasAttribute(attr)) {
        $(this).attr(attr);
        var name = $(this).attr(attr);
        name = name.replace(regexp, cntr);
        $(this).attr(attr, name);
      }
    })
  }

  $(document).on("click", ".add_choice", function(){
    div = $(this).prev(".a");
    let count = parseInt(div.attr("id").charAt(div.attr("id").length-1)) + 1;
    console.log(count);
    c = div.clone();
    fixatts(c, count);
    
    console.log(c.children("input"));
    c.children("input").val("");
    
    $(this).parent().append(c);
    $(this).parent().append($(this));
  });
  
  $(".add_question").click(function(){
    div = $(this).prev(".q");
    let count = parseInt(div.attr("id").charAt(div.attr("id").length-1)) + 1;
    console.log(count);
    c = $(".q").first().clone();
    c[0].removeAttribute("hidden");
    //need to change the attributes now, hardest part
    qfixatts(c, count);
    
    allqs = $("#questions").append(c);
    $("#questions").append($(this));
  }); 
  
</script>