<br>
<br>
<div class="col-md-8">
  <%= form_with(model: @poll, url: {action: "pvote", id: @poll.id, controller: "polls"}, local: true) do |form| %>
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id, class: 'form-control', required: true %>
    </div>
    <% if @poll.questions.any? %>
    <h3 class = 'title'><%= @poll.title %></h3>
    <p class="q_containter">
      <% @poll.questions.each do |question| %>
        <div class="col-md-8">
          <% if question.answerchoices.any? %>
          <h3 class = "questiontext"><%= question.text %> (<%= question.answerchoices.count %> choices)</h3>
            <ul class="answerchoices">
              <% question.answerchoices.each do |answerchoice| %>
                <%= form.fields_for :userchoices do |userchoices_form| %>
                  <table>
                    <span class="content">
                      <%= radio_button_tag "choices[" + question.id.to_s + "]", answerchoice.id %>
                      <%= label_tag "choices[" + question.id.to_s + "]", answerchoice.content, class: "label" %>
                    </span>
                  </table>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </p>
    <br>
    <br>
    <br>
    <p>
    <div class="actions">
      <%= form.submit "Submit Answer Choices", class: "btn btn-success" %>
    </div>
  <% end %>
</div>  
      