<p id="notice"><%= notice %></p>

<div class="banner" style="padding:15px; text-align:center;">
  <div class="banner-content">
    <%= link_to 'New Poll', new_poll_path, class: "btn btn-success" %>
  </div>
</div>

<h1>Polls</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Creator</th>
      <th scope="col">Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @polls.each do |poll| %>
      <tr>
        <td><%= User.find(poll.user_id).name %></td>
        <td><%= link_to poll.title, poll %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<br>
