<p id="notice"><%= notice %></p>

<%= puts @poll.inspect %>

<p>
  <strong>Title:</strong>
  <%= @poll.title %>
</p>

<p>
  <strong>Creator:</strong>
  <%= User.find(@poll.user_id).name %>
</p>

<div class="col-md-8">
  <%= form_with(model: @poll, url: {action: "pvote", id: @poll.id, controller: "polls"}, local: true) do |form| %>
    <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id, class: 'form-control', required: true %>
    </div>
    <% if @poll.questions.any? %>
    <h3><%= @poll.title %></h3>
      <p>
        <% @poll.questions.each do |question| %>
          <div class="col-md-8">
            <% if question.answerchoices.any? %>
            <h3><%= question.text %> (<%= question.answerchoices.count %> choices)</h3>
              <ul class="answerchoices">
                <% question.answerchoices.each do |answerchoice| %>
                  <%= form.fields_for :userchoices do |userchoices_form| %>
                    <li>
                      <span class="content">
                        <%= radio_button_tag("choices[" + question.id.to_s + "]", answerchoice.id) %>
                        <%= label_tag("choices[" + question.id.to_s + "]", answerchoice.content) %>
                        <br>
                      </span>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </p>
      <p>
        <div class="actions">
          <%= form.submit "✔", class: "btn btn-primary" %>
        </div>
      </p>
    <% end %>
  <% end %>
</div>


<%= link_to 'Edit', edit_poll_path(@poll) %> |
<%= link_to 'Back', polls_path %>
