<!DOCTYPE html>
<html>
  <head>
    <title>Poll/Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('test.png') %>

  </head>
  <header>
      <h1>pollMe</h1>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
