<!DOCTYPE html>

<html>
  <head>
    <title>Poll/Quiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('test.png') %>

  </head>
  <header>
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Font_Awesome_5_solid_poll.svg" width="50" height="50"/>
      <h0>PollMe</h0>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
