

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>PollMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('test.png') %>
    
    
    <header class="navbar navbar-fixed-top navbar-inverse">
      
      <div class="container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Font_Awesome_5_solid_poll.svg" width="50" height="50"/>
        <%= link_to "PollMe", root_path, id: "logo" %>
        
        <nav>
          
          <ul class="nav navbar-nav navbar-right">
            
            <% if logged_in? %>
              <% welcome_string = "See " +  current_user.name + "'s polls" %>
              <li id="logo"><%=link_to welcome_string, user_path(current_user) %></li>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Log out", logout_path, method: :delete %></li>
              
            <% else %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign Up", "/signup" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
